Repository calmery-chan/metaneno.art: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, svgo

内部的に使用するパッケージをアップデートする
  yarn.lock
Due: none

Storybook の動作確認で使用するため Tailwind CSS の Example コンポーネントを追加する
  src/components/.keep
  src/components/Example.tsx
  src/pages/dummy.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write

Storybook で Tailwind CSS、SCSS ファイルを読み込めるようにする
  .storybook/main.js
  .storybook/preview.js
  package.json
  src/components/Example.stories.tsx
  yarn.lock
Due: eslint --fix, prettier --write

npm-scripts から build-storybook を削除、storybook を start:storybook に変更する
  package.json
Due: prettier --write

.gitignore に storybook-static フォルダを追加する
  .gitignore
Due: none

gh-pages で Storybook を公開する
  .github/workflows/build-storybook.yml
  package.json
  yarn.lock
Due: prettier --write

src/stories フォルダを削除する
  src/stories/Button.stories.tsx
  src/stories/Button.tsx
  src/stories/Header.stories.tsx
  src/stories/Header.tsx
  src/stories/Introduction.stories.mdx
  src/stories/Page.stories.tsx
  src/stories/Page.tsx
  src/stories/assets/code-brackets.svg
  src/stories/assets/colors.svg
  src/stories/assets/comments.svg
  src/stories/assets/direction.svg
  src/stories/assets/flow.svg
  src/stories/assets/plugin.svg
  src/stories/assets/repo.svg
  src/stories/assets/stackalt.svg
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
Due: eslint --fix, prettier --write, svgo

GitHub Actions、build-storybook.yml で yarn を実行するよう修正する
  .github/workflows/build-storybook.yml
Due: prettier --write

GitHub Actions、build-storybook.yml で yarn run gh-pages を実行するよう修正する
  .github/workflows/build-storybook.yml
Due: prettier --write

Revert "GitHub Actions、build-storybook.yml で yarn run gh-pages を実行するよう修正する"
  .github/workflows/build-storybook.yml
Due: prettier --write

Revert "GitHub Actions、build-storybook.yml で yarn を実行するよう修正する"
  .github/workflows/build-storybook.yml
Due: prettier --write

Revert "gh-pages で Storybook を公開する"
  .github/workflows/build-storybook.yml
  package.json
  yarn.lock
Due: prettier --write

Revert ".gitignore に storybook-static フォルダを追加する"
  .gitignore
Due: none

package.json、name を metaneno.art に変更する
  package.json
Due: prettier --write

Storybook の不要なアドオンを削除、不足しているパッケージを追加する
  .storybook/main.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

パッケージをアップデートする
  package.json
  yarn.lock
Due: prettier --write

src/domains/cheki を追加する
  src/domains/cheki/actions.ts
  src/domains/cheki/index.ts
  src/domains/cheki/reducer.ts
  src/domains/cheki/selectors.ts
  src/domains/cheki/utils.ts
  src/domains/index.ts
Due: eslint --fix, prettier --write

不要な変数を削除する
  src/components/Instax.tsx
Due: eslint --fix, prettier --write

linaria を使えるようにする
  .babelrc
  .gitignore
  next.config.js
  package.json
  src/domains/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

トップページの表示に失敗する問題を修正する
  src/pages/index.tsx
Due: eslint --fix, prettier --write

Storybook でも linaria を使えるようにする
  .storybook/main.js
Due: eslint --fix, prettier --write

linaria のキャッシュを Prettier の対象から外す
  .prettierignore
  .storybook/main.js
  package.json
Due: eslint --fix, prettier --write

画像を読み込むために ChekiImageLoadButton コンポーネントを追加する
  src/components/ChekiImageLoadButton.stories.tsx
  src/components/ChekiImageLoadButton.tsx
  src/pages/cheki.tsx
  src/utils/cheki.ts
  yarn.lock
Due: eslint --fix, prettier --write

ChekiImageLoadButton コンポーネントの i18n 対応、Storybook でも正しく表示できるようにする
  .storybook/preview.js
  package.json
  public/locales/en/common.json
  public/locales/ja/common.json
  src/components/ChekiImageLoadButton.tsx
  src/utils/i18n.ts
  yarn.lock
Due: eslint --fix, prettier --write

Storybook で表示言語の切り替えができるようにする
  .storybook/main.js
  .storybook/preview.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

画像を操作するための雛形になる SVG を配置する
  package.json
  src/components/ChekiCanvas.tsx
  src/domains/cheki/actions.ts
  src/domains/cheki/index.ts
  src/domains/cheki/reducer.ts
  src/domains/cheki/selectors.ts
  src/pages/cheki.tsx
  src/styles/globals.scss
  src/utils/cheki.ts
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix

Instax 関連のコンポーネントは不要のため削除する
  src/components/Instax.tsx
  src/components/InstaxCharacter.tsx
  src/components/InstaxImage.tsx
  src/components/InstaxImageHorizontal.tsx
  src/components/InstaxImageVertical.tsx
  src/pages/noneme.tsx
  src/types/InstaxDirection.tsx
  src/utils/instax.ts
Due: eslint --fix, prettier --write

チェキのフレームを表示領域の中央に表示する
  src/components/ChekiCanvas.tsx
  src/components/ChekiCanvasFrameLayer.tsx
  src/constants/cheki.ts
  src/domains/cheki/actions.ts
  src/domains/cheki/reducer.ts
  src/types/ChekiDirection.ts
  src/utils/cheki.ts
Due: eslint --fix, prettier --write

チェキのフレーム上に画像を表示するための領域を追加する
  src/components/ChekiCanvas.tsx
  src/components/ChekiCanvasFrameLayer.tsx
  src/components/ChekiCanvasImageLayer.tsx
Due: eslint --fix, prettier --write

Redux を参照しているチェキのコンポーネントを src/containers フォルダに移動する
  src/containers/ChekiCanvas.tsx
  src/containers/ChekiCanvasFrameLayer.tsx
  src/containers/ChekiCanvasImageLayer.tsx
  src/pages/cheki.tsx
Due: eslint --fix, prettier --write

チェキで使用する画像を読み込んで表示できるようにする
  src/components/ChekiImageLoadButton.tsx
  src/constants/cheki.ts
  src/containers/ChekiCanvasImageLayer.tsx
  src/domains/cheki/actions.ts
  src/domains/cheki/reducer.ts
  src/domains/cheki/utils.ts
  src/pages/cheki.tsx
  src/utils/cheki.ts
Due: eslint --fix, prettier --write

画像をリサイズを行う resizeImage 関数で最小の長さを考慮するように修正する
  src/domains/cheki/reducer.ts
  src/domains/cheki/utils.ts
Due: eslint --fix, prettier --write

`containerRef.current` が null のとき実行に失敗する問題を修正する
  src/containers/ChekiCanvas.tsx
Due: eslint --fix, prettier --write

現時点で不要な変数を削除する
  src/containers/ChekiCanvas.tsx
  src/domains/cheki/reducer.ts
Due: eslint --fix, prettier --write

チェキのフレームにダミーの背景を設定する
  public/cheki/frame.png
  src/containers/ChekiCanvasFrameLayer.tsx
  src/containers/ChekiCanvasImageLayer.tsx
Due: eslint --fix, prettier --write

Photon の Vintage フィルターを移植して画像に適用する
  src/containers/ChekiCanvasImageLayer.tsx
Due: eslint --fix, prettier --write

画像の座標を Redux で管理する
  src/containers/ChekiCanvasImageLayer.tsx
  src/domains/cheki/reducer.ts
Due: eslint --fix, prettier --write

チェキのレイアウトの状態も Redux で管理する
  src/containers/ChekiCanvas.tsx
  src/domains/cheki/actions.ts
  src/domains/cheki/reducer.ts
Due: eslint --fix, prettier --write

画像をドラッグ & ドロップで動かせるようにする
  src/containers/ChekiCanvas.tsx
  src/containers/ChekiCanvasImageLayer.tsx
  src/domains/cheki/actions.ts
  src/domains/cheki/reducer.ts
  src/domains/cheki/utils.ts
  src/utils/cheki.ts
Due: eslint --fix, prettier --write

axios は不要のため削除する
  package.json
  src/utils/axios.ts
  yarn.lock
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: (any of: **/*.{js,ts,tsx}) or (any of: **/*.{json,md,yml})
  stylelint --fix: any of: **/*.scss
  svgo: any of: **/*.svg
