Repository calmery-chan/metaneno.art: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, svgo

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx}": ["eslint --fix", "prettier --write"],
  "**/*.{json,md,yml}": "prettier --write",
  "**/*.scss": "stylelint --fix",
  "**/*.svg": "svgo"
}

.env を .gitignore に追加する
  .gitignore
Due: none

.env.local.default は不要のため削除する
  .env.local.default
Due: none

不足しているパッケージ、contentful を追加する
  package.json
  yarn.lock
Due: prettier --write

SENTRY_DSN を NEXT_PUBLIC_SENTRY_DSN に置き換える
  src/pages/api/contentful-to-discord.ts
  src/pages/api/github-deployment-status-to-discord.ts
  src/pages/api/sentry-to-discord.ts
Due: eslint --fix, prettier --write

GitHub の Secret を確認するように変更する
  src/pages/api/github-deployment-status-to-discord.ts
Due: eslint --fix, prettier --write

Contentful から呼び出される Webhook で Secret を確認するように変更する
  src/pages/api/contentful-to-discord.ts
Due: eslint --fix, prettier --write

hello.ts は不要であるので削除する
  src/pages/api/hello.ts
Due: eslint --fix, prettier --write

Sentry から呼び出される Webhook で Sentry-Hook-Signature を確認するように変更する
  src/pages/api/sentry-to-discord.ts
Due: eslint --fix, prettier --write

feature/exhibition から Webhook 関連のコードのみ持ってくる
  package.json
  src/pages/api/contentful-to-discord.ts
  src/pages/api/github-deployment-status-to-discord.ts
  src/pages/api/hello.ts
  src/pages/api/sentry-to-discord.ts
  yarn.lock
Due: eslint --fix, prettier --write

Contentful から 3D モデルなどを取得するためのスクリプトを feature/exhibition から移動する
  .github/workflows/contentful.yml
  .gitignore
  package.json
  public/contents/content-types.json
  public/contents/entries.json
  scripts/contentful.js
  yarn.lock
Due: eslint --fix, prettier --write

Contentful の GitHub Actions で node_modules をキャッシュするように、また npm ではなく yarn を使うように変更する
  .github/workflows/contentful.yml
Due: prettier --write

Update public/contents
  public/contents/content-types.json
  public/contents/entries.json
Due: prettier --write

Sentry のヘッダーの確認処理を削除する
  src/pages/api/sentry-to-discord.ts
Due: eslint --fix, prettier --write

save ページの印刷ボタンを非表示にする
  src/components/Cheki/Header.tsx
Due: eslint --fix, prettier --write

チュートリアルの印刷するボタンの説明を非表示にする
  src/constants/cheki.ts
Due: eslint --fix, prettier --write

未使用変数を削除する
  src/components/Cheki/Header.tsx
Due: eslint --fix, prettier --write

マスキングテープの画像を変更する
  public/cheki/masking.png
  src/pages/cheki/save.tsx
Due: eslint --fix, prettier --write

エラーページで正しくステータスコードが表示されるように修正する
  src/pages/_error.tsx
Due: eslint --fix, prettier --write

Twitter にシェアボタンを一時的に非表示にする
  src/pages/cheki/save.tsx
Due: eslint --fix, prettier --write

ノネメちゃんチェキ、シェアした画像の URL を取得する API のエンドポイントを変更する
  src/utils/cheki.ts
Due: eslint --fix, prettier --write

未使用変数などをコメントアウトする
  src/pages/cheki/save.tsx
Due: eslint --fix, prettier --write

Revert "ノネメちゃんチェキ、シェアした画像の URL を取得する API のエンドポイントを変更する"
  src/utils/cheki.ts
Due: eslint --fix, prettier --write

Revert "未使用変数などをコメントアウトする"
  src/pages/cheki/save.tsx
Due: eslint --fix, prettier --write

Revert "Twitter にシェアボタンを一時的に非表示にする"
  src/pages/cheki/save.tsx
Due: eslint --fix, prettier --write

Cloudinary に画像がアップロードされたときに Discord に通知できるようにする
  src/pages/api/cloudinary-to-discord.ts
Due: eslint --fix, prettier --write

Cloudinary の Webhook、画像のパラメータが間違っていたので修正する
  src/pages/api/cloudinary-to-discord.ts
Due: eslint --fix, prettier --write

日付の表示に失敗する問題を修正する
  src/utils/cheki.ts
Due: eslint --fix, prettier --write

フィルターで使用するコンポーネントで React.memo を使う
  src/containers/Cheki/CanvasImage.tsx
Due: eslint --fix, prettier --write

ESLint、React.memo のため react/display-name を off にする
  .eslintrc.json
Due: prettier --write

ChekiDate を React.memo で囲う
  src/components/Cheki/Date.tsx
  src/containers/Cheki/CanvasChekiImage.tsx
  src/domains/cheki/selectors.ts
Due: eslint --fix, prettier --write

filters ページ、フィルターのリストで React.memo を使う
  src/pages/cheki/filters.tsx
Due: eslint --fix, prettier --write

個展公開までの残り時間を表示する
  package-lock.json
  package.json
  src/pages/admin/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

個展公開日までの残り時間を表示する
  package-lock.json
  package.json
  src/pages/admin/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

package-lock.json を削除する
  package-lock.json
  yarn.lock
Due: prettier --write

管理ページへのログインページを追加する
  package.json
  public/cheki/decorations.svg
  public/contents/content-types.json
  public/contents/entries.json
  src/pages/_app.tsx
  src/pages/admin/login.tsx
  src/utils/axios.ts
  yarn.lock
Due: eslint --fix, prettier --write, svgo

reCAPTCHA の追加位置を変更する
  src/pages/_app.tsx
  src/pages/admin/login.tsx
Due: eslint --fix, prettier --write

reCAPTCHA のバッジを非表示にする
  src/styles/globals.scss
Due: stylelint --fix

QR コードを表示するコンポーネントを追加する
  package.json
  src/components/Cheki/QrCode.tsx
  yarn.lock
Due: eslint --fix, prettier --write

管理ページのログインページが再レンダリングされる問題を修正する
  src/pages/admin/login.tsx
Due: eslint --fix, prettier --write

印刷用画像を出力できるようにする
  src/components/Cheki/QrCode.tsx
  src/constants/cheki.ts
  src/containers/Cheki/App.tsx
  src/containers/Cheki/CanvasPrintableImage.tsx
  src/domains/cheki/utils.ts
  src/pages/cheki/printable.tsx
Due: eslint --fix, prettier --write
