Repository calmery-chan/metaneno.art: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, svgo

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx}": ["eslint --fix", "prettier --write"],
  "**/*.{json,md,yml}": "prettier --write",
  "**/*.scss": "stylelint --fix",
  "**/*.svg": "svgo"
}

画像を読み込んだときに座標をリセットする
  src/domains/cheki/reducer.ts
Due: eslint --fix, prettier --write

リファクタリング
  src/containers/ChekiCanvas.tsx
  src/containers/ChekiCanvasFrameLayer.tsx
  src/containers/ChekiCanvasImageLayer.tsx
  src/domains/cheki/actions.ts
  src/domains/cheki/reducer.ts
  src/domains/cheki/utils.ts
  src/types/ChekiRectangle.ts
  src/utils/cheki.ts
Due: eslint --fix, prettier --write

チェキのフレームに使用する画像をリサイズ、Base64 に変換する
  src/containers/ChekiCanvasFrameLayer.tsx
  src/domains/cheki/actions.ts
  src/domains/cheki/reducer.ts
  src/domains/cheki/utils.ts
Due: eslint --fix, prettier --write

チェキの画像をダウンロードできるようにする
  src/containers/ChekiCanvas.tsx
  src/pages/cheki.tsx
  src/utils/cheki.ts
Due: eslint --fix, prettier --write

フレームの背景画像を変更できるようにする
  public/cheki/frame.png
  public/cheki/frames/1.png
  public/cheki/frames/2.png
  public/cheki/frames/3.png
  src/components/Horizontal.tsx
  src/constants/cheki.ts
  src/containers/ChekiCanvasFrameLayer.tsx
  src/pages/cheki.tsx
Due: eslint --fix, prettier --write

チェキの画像にフィルターを適用できるようにする
  src/constants/cheki.ts
  src/containers/ChekiCanvasImageLayer.tsx
  src/domains/cheki/actions.ts
  src/domains/cheki/reducer.ts
  src/pages/cheki.tsx
Due: eslint --fix, prettier --write

フィルターのプレビューを表示する
  src/constants/cheki.ts
  src/containers/ChekiCanvas.tsx
  src/containers/ChekiFilterThumbnail.tsx
  src/domains/cheki/actions.ts
  src/domains/cheki/reducer.ts
  src/domains/cheki/utils.ts
  src/pages/cheki.tsx
Due: eslint --fix, prettier --write

ESLint に従って修正する
  src/components/ChekiImageLoadButton.tsx
  src/containers/ChekiCanvas.tsx
Due: eslint --fix, prettier --write

next.config.js の target を serverless に変更する
  next.config.js
Due: eslint --fix, prettier --write

現状不要である next-i18next 関連の設定、コードを削除する
  .prettierignore
  next.config.js
  package.json
  src/pages/_app.tsx
  src/pages/dummy.tsx
  src/pages/index.tsx
  src/utils/i18n.ts
  yarn.lock
Due: eslint --fix, prettier --write

TypeScript のバージョンを下げる
  package.json
  yarn.lock
Due: prettier --write

ノネメちゃんの AA を html ファイルに挿入する
  package.json
  scripts/insert-noneme-aa-to-html.js
  scripts/noneme
Due: eslint --fix, prettier --write

Storybook の設定から next-i18next 関連の設定を削除する
  .storybook/main.js
  .storybook/preview.js
  package.json
  src/components/ChekiImageLoadButton.tsx
  src/utils/i18n.ts
  yarn.lock
Due: eslint --fix, prettier --write

locales フォルダを削除する
  locales
  public/locales/en/common.json
  public/locales/ja/common.json
Due: prettier --write

SVG の image に余分な Props を渡さないように修正する
  src/containers/ChekiCanvasImageLayer.tsx
Due: eslint --fix, prettier --write

画像を読み込んだとき、物体認識も同時に行う
  package.json
  src/domains/cheki/actions.ts
  src/domains/cheki/reducer.ts
  src/utils/coco-ssd.ts
Due: eslint --fix, prettier --write

縮小後の画像を使用して物体認識を行う
  src/domains/cheki/actions.ts
Due: eslint --fix, prettier --write

Google Analytics 4 に対応する
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  src/utils/ga.ts
  src/utils/google-analytics.tsx
Due: eslint --fix, prettier --write

react-ga を削除する
  package.json
  yarn.lock
Due: prettier --write

Vercel の Production 環境でのみ Google Analytics にイベントを送信する
  src/utils/google-analytics.tsx
Due: eslint --fix, prettier --write

SEO のデフォルト値を設定する
  public/og.png
  src/pages/_app.tsx
  src/utils/next-seo.ts
Due: eslint --fix, prettier --write

Google Analytics のコードを最適化する
  src/utils/google-analytics.tsx
Due: eslint --fix, prettier --write

sitemap.xml を生成する
  .github/workflows/deploy-to-production.yml
  .gitignore
  package.json
  public/robots.txt
  scripts/generate-sitemap.js
  yarn.lock
Due: eslint --fix, prettier --write

sitemap.xml を生成する
  .github/workflows/deploy-to-preview.yml
  .github/workflows/deploy-to-production.yml
  .gitignore
  package.json
  public/robots.txt
  scripts/generate-sitemap.js
  yarn.lock
Due: eslint --fix, prettier --write

head タグ内の要素を整理する
  public/favicon.ico
  public/manifest.json
  src/components/DefaultHead.tsx
  src/components/GoogleAnalytics.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/utils/google-analytics.tsx
Due: eslint --fix, prettier --write

ダミーの画像、meta タグの内容を設定する
  public/apple-touch-icon.png
  public/icon-512x512.png
  public/icon.png
  public/mask-icon.svg
  public/og.png
  src/utils/next-seo.ts
Due: eslint --fix, prettier --write, svgo

デプロイ時にサイトマップの生成に失敗する問題を修正する
  .github/workflows/deploy-to-preview.yml
  .github/workflows/deploy-to-production.yml
  package.json
Due: prettier --write

manifest.json の内容を変更する
  public/manifest.json
Due: prettier --write

_document.tsx を作成、Html に lang 属性を指定する
  src/pages/_document.tsx
Due: eslint --fix, prettier --write

title タグの内容などを設定する
  src/components/DefaultHead.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --write

チェキ画像をアップロードするための関数を追加する
  src/utils/cheki.ts
Due: eslint --fix, prettier --write

Twitter にシェアするボタンを追加する
  src/containers/ChekiCanvas.tsx
  src/pages/cheki.tsx
  src/utils/cheki.ts
Due: eslint --fix, prettier --write

window.open ではなく location.href を使う
  src/pages/cheki.tsx
Due: eslint --fix, prettier --write

ESLint に従って修正する
  src/utils/cheki.ts
Due: eslint --fix, prettier --write

1977 フィルターを追加する
  src/components/ChekiFilterDefs.tsx
Due: eslint --fix, prettier --write

CSSCO のフィルターを実装する
  public/example.jpg
  src/components/ChekiFilterDefs.tsx
Due: eslint --fix, prettier --write

動作確認のための比較ページを追加する
  src/pages/filters.tsx
  src/styles/globals.scss
Due: eslint --fix, prettier --write, stylelint --fix

Revert "動作確認のための比較ページを追加する"
  src/pages/filters.tsx
  src/styles/globals.scss
Due: eslint --fix, prettier --write, stylelint --fix

不要なフィルターを削除する
  src/components/ChekiFilterDefs.tsx
Due: eslint --fix, prettier --write

フィルターを使えるようにする
  src/components/ChekiFilterImage.tsx
  src/constants/cheki.ts
  src/containers/ChekiCanvasImageLayer.tsx
  src/containers/ChekiFilterThumbnail.tsx
  src/pages/cheki.tsx
Due: eslint --fix, prettier --write
