Repository calmery-chan/metaneno.art: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, svgo

画面を表示したときに表示可能サイズを取得する
  src/containers/Cheki/ChekiTrimPreview.tsx
  src/containers/Cheki/FilterPreview.tsx
  src/containers/Cheki/FramePreview.tsx
  src/containers/Cheki/Preview.tsx
  src/containers/Cheki/Trim.tsx
  src/pages/cheki/share/[id].tsx
Due: eslint --fix, prettier --write

WIP
  src/containers/Cheki/Trim.tsx
  src/utils/cheki.ts
Due: eslint --fix, prettier --write

useDisplayable を追加する
  src/containers/Cheki/ChekiTrimPreview.tsx
  src/containers/Cheki/FilterPreview.tsx
  src/containers/Cheki/FramePreview.tsx
  src/containers/Cheki/Preview.tsx
  src/containers/Cheki/Trim.tsx
Due: eslint --fix, prettier --write

Redux のアクションをまとめる
  src/containers/Cheki/ChekiTrimPreview.tsx
  src/containers/Cheki/FilterPreview.tsx
  src/containers/Cheki/Trim.tsx
  src/domains/cheki/actions.ts
  src/domains/cheki/reducer.ts
Due: eslint --fix, prettier --write

ChekiNavigation を containers へ、画像の読み込み状態によって一部項目を非表示にする
  src/components/Cheki/Navigation.tsx
  src/containers/Cheki/Navigation.tsx
  src/pages/cheki/filters.tsx
  src/pages/cheki/frames.tsx
  src/pages/cheki/index.tsx
  src/pages/cheki/save-and-share.tsx
  src/styles/globals.scss
Due: eslint --fix, prettier --write, stylelint --fix

トリミング中の画像に cursor: move; を追加する
  src/containers/Cheki/TrimImageOperator.tsx
Due: eslint --fix, prettier --write

ポップアップのためのコンポーネントを追加する
  src/components/Cheki/Header.tsx
  src/components/Cheki/Popup.tsx
  src/styles/globals.scss
  src/styles/mixin.ts
Due: eslint --fix, prettier --write, stylelint --fix

パッケージをアップデートする
  package.json
  yarn.lock
Due: prettier --write

@emotion/core と @emotion/styled を追加する
  package.json
  yarn.lock
Due: prettier --write

linaria 関連のパッケージと設定ファイルを削除する
  .babelrc
  .gitignore
  .prettierignore
  .storybook/main.js
  next.config.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

@emotion/react や Babel の設定を追加、linaria で記述されたコードを置き換える
  .babelrc
  next-env.d.ts
  package.json
  src/components/ChekiImageLoadButton.tsx
  src/components/Horizontal.tsx
  src/containers/ChekiCanvas.tsx
  src/pages/cheki.tsx
  yarn.lock
Due: eslint --fix, prettier --write

linaria で実装されていたスタイルを emotion で再実装する
  src/components/Cheki/App.tsx
  src/components/Cheki/Button.tsx
  src/components/Cheki/Column.tsx
  src/components/Cheki/FlexColumn.tsx
  src/components/Cheki/Footer.tsx
  src/components/Cheki/GradientText.tsx
  src/components/Cheki/HashTag.tsx
  src/components/Cheki/Header.tsx
  src/components/Cheki/Modal.tsx
  src/components/Cheki/Note.tsx
  src/components/Cheki/Popup.tsx
  src/components/Cheki/SubButton.tsx
  src/containers/Cheki/ChekiTrimPreview.tsx
  src/containers/Cheki/FilterList.tsx
  src/containers/Cheki/FilterPreview.tsx
  src/containers/Cheki/FrameList.tsx
  src/containers/Cheki/FramePreview.tsx
  src/containers/Cheki/Navigation.tsx
  src/containers/Cheki/ShootButton.tsx
  src/containers/Cheki/SplashScreen.tsx
  src/containers/Cheki/Trim.tsx
  src/pages/cheki/index.tsx
  src/pages/cheki/save-and-share.tsx
  src/pages/cheki/share/[id].tsx
  src/pages/cheki/terms-of-service.tsx
  src/styles/mixin.ts
  src/styles/typography.ts
Due: eslint --fix, prettier --write

ノネメちゃんチェキのロゴを表示する
  public/cheki/logo.png
  public/cheki/logo.png.webp
  src/components/Cheki/Logo.tsx
  src/components/Image.tsx
  src/containers/Cheki/SplashScreen.tsx
  src/pages/cheki/terms-of-service.tsx
Due: eslint --fix, prettier --write

画像を読み込む画面のレイアウトを整える
  public/cheki/add.svg
  public/cheki/background.png
  src/components/Cheki/InputImage.tsx
  src/pages/cheki/index.tsx
Due: eslint --fix, prettier --write, svgo

読み込んだ画像の背景を白色に設定、サムネイルの解像度を変更する
  src/constants/cheki.ts
  src/containers/Cheki/FilterThumbnail.tsx
  src/domains/cheki/utils.ts
Due: eslint --fix, prettier --write

フィルターなしの設定をできるようにする
  src/containers/Cheki/FilterList.tsx
Due: eslint --fix, prettier --write

SEO 周りの設定をする
  public/cheki/og.png
  src/components/Cheki/App.tsx
  src/pages/cheki/index.tsx
  src/utils/cheki.ts
Due: eslint --fix, prettier --write

画像の読み込みなどの準備が完了していないときはトップページに遷移する
  src/containers/Cheki/App.tsx
  src/containers/Cheki/SplashScreen.tsx
  src/pages/cheki/filters.tsx
  src/pages/cheki/frames.tsx
  src/pages/cheki/index.tsx
  src/pages/cheki/save-and-share.tsx
  src/pages/cheki/share/[id].tsx
Due: eslint --fix, prettier --write

フレームの選択状態が上書きされてしまう問題を修正する
  src/containers/Cheki/CanvasFrameLayer.tsx
  src/domains/cheki/reducer.ts
Due: eslint --fix, prettier --write

チェキのフレームにグラデーションをかける
  src/containers/Cheki/CanvasFrameLayer.tsx
Due: eslint --fix, prettier --write

シェアページにロゴを追加する
  src/pages/cheki/share/[id].tsx
Due: eslint --fix, prettier --write

シェアページでもトップにリダイレクトされてしまう問題を修正する
  src/containers/Cheki/App.tsx
Due: eslint --fix, prettier --write

画像を長押ししてダウンロードできない問題を修正する
  src/containers/Cheki/Preview.tsx
Due: eslint --fix, prettier --write

フレームのアイコンを修正する
  public/frames.svg
Due: svgo

Navigation のアイコンが正しく表示されるように修正する
  src/containers/Cheki/Navigation.tsx
Due: eslint --fix, prettier --write

ready から splashed にリネームする
  src/containers/Cheki/SplashScreen.tsx
  src/domains/cheki/actions.ts
  src/domains/cheki/reducer.ts
Due: eslint --fix, prettier --write

shootingCondition を ready に置き換える
  src/containers/Cheki/Navigation.tsx
  src/domains/cheki/actions.ts
  src/domains/cheki/reducer.ts
  src/pages/cheki/index.tsx
Due: eslint --fix, prettier --write

Modal のテキストなどを表示するためのコンポーネントをリファクタリングする
  src/components/Cheki/Modal.tsx
Due: eslint --fix, prettier --write

フレームページのリファクタリングをする
  src/containers/Cheki/Canvas.tsx
  src/containers/Cheki/CanvasFrameLayer.tsx
  src/containers/Cheki/FrameList.tsx
  src/containers/Cheki/FramePreview.tsx
  src/domains/cheki/actions.ts
  src/domains/cheki/reducer.ts
  src/domains/cheki/utils.ts
  src/pages/cheki/frames.tsx
Due: eslint --fix, prettier --write

フィルターページをリファクタリングする
  src/containers/Cheki/Canvas.tsx
  src/containers/Cheki/FilteredCanvas.tsx
  src/containers/Cheki/FramedCanvas.tsx
  src/domains/cheki/actions.ts
  src/domains/cheki/reducer.ts
  src/pages/cheki/filters.tsx
  src/pages/cheki/frames.tsx
Due: eslint --fix, prettier --write

保存、シェアページのリファクタリングをする
  public/save.svg
  src/containers/Cheki/Canvas.tsx
  src/containers/Cheki/CanvasContainer.tsx
  src/containers/Cheki/CanvasFilters.tsx
  src/containers/Cheki/CanvasFrames.tsx
  src/containers/Cheki/CanvasSave.tsx
  src/containers/Cheki/Navigation.tsx
  src/containers/Cheki/Preview.tsx
  src/pages/cheki/filters.tsx
  src/pages/cheki/frames.tsx
  src/pages/cheki/save.tsx
Due: eslint --fix, prettier --write, svgo

axios を削除する
  package.json
  yarn.lock
Due: prettier --write

シェアページのリファクタリングをする
  src/components/Cheki/Footer.tsx
  src/pages/cheki/share/[id].tsx
  src/utils/api.ts
  src/utils/cheki.ts
Due: eslint --fix, prettier --write

Safari でボタンが表示されない問題を修正する
  src/components/Cheki/SubButton.tsx
Due: eslint --fix, prettier --write

チェキのトップページのリファクタリングをする
  public/add.svg
  src/components/Cheki/InputImage.tsx
  src/containers/Cheki/Camera.tsx
  src/containers/Cheki/CanvasTrim.tsx
  src/containers/Cheki/ChekiTrimPreview.tsx
  src/containers/Cheki/Trim.tsx
  src/domains/cheki/actions.ts
  src/domains/cheki/reducer.ts
  src/pages/cheki/index.tsx
Due: eslint --fix, prettier --write, svgo

画像を読み込み直すボタンを配置する
  public/image.svg
  src/containers/Cheki/Camera.tsx
  src/domains/cheki/actions.ts
  src/domains/cheki/reducer.ts
Due: eslint --fix, prettier --write, svgo

リファクタリングする
  src/containers/Cheki/Camera.tsx
  src/containers/Cheki/CanvasFilters.tsx
  src/containers/Cheki/CanvasImageLayer.tsx
  src/containers/Cheki/CanvasTrim.tsx
  src/containers/Cheki/FilterPreview.tsx
  src/containers/Cheki/FilterThumbnail.tsx
  src/domains/cheki/actions.ts
  src/domains/cheki/reducer.ts
  src/domains/cheki/utils.ts
Due: eslint --fix, prettier --write

チェキ関連の画像を移動する
  public/add.svg
  public/cheki/add.svg
  public/cheki/camera.svg
  public/cheki/close.svg
  public/cheki/filters.svg
  public/cheki/frames.svg
  public/cheki/heart.svg
  public/cheki/image.svg
  public/cheki/information.selected.svg
  public/cheki/information.svg
  public/cheki/save.svg
  public/cheki/shoot.svg
  public/cheki/twitter.svg
  src/components/Cheki/Header.tsx
  src/components/Cheki/InputImage.tsx
  src/components/Cheki/Modal.tsx
  src/containers/Cheki/Camera.tsx
  src/containers/Cheki/Navigation.tsx
  src/containers/Cheki/ShootButton.tsx
  src/containers/Cheki/SplashScreen.tsx
  src/pages/cheki/save.tsx
Due: eslint --fix, prettier --write, svgo

Lighthouse に従って修正する
  public/cheki/apple-touch-icon.png
  public/cheki/icon-512x512.png
  public/cheki/icon.png
  public/cheki/manifest.json
  public/cheki/mask-icon.svg
  public/example.jpg
  src/components/Cheki/Head.tsx
  src/components/Cheki/Header.tsx
  src/components/Cheki/InputImage.tsx
  src/containers/Cheki/App.tsx
  src/containers/Cheki/Navigation.tsx
Due: eslint --fix, prettier --write, svgo

Google フォームのリンクを置き換える
  src/components/Cheki/Footer.tsx
  src/components/Cheki/Header.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: (any of: **/*.{js,ts,tsx}) or (any of: **/*.{json,md,yml})
  stylelint --fix: any of: **/*.scss
  svgo: any of: **/*.svg
