Repository calmery-chan/metaneno.art: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, svgo

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx}": ["eslint --fix", "prettier --write"],
  "**/*.{json,md,yml}": "prettier --write",
  "**/*.scss": "stylelint --fix",
  "**/*.svg": "svgo"
}

CanvasChekiImage で eslint-disable-next-line する
  src/containers/Cheki/CanvasChekiImage.tsx
Due: eslint --fix, prettier --write

フィルター、フレームのリストに height を指定する
  src/pages/cheki/filters.tsx
  src/pages/cheki/frames.tsx
Due: eslint --fix, prettier --write

Firefox でフィルター一覧画像を非表示にする処理を元に戻す
  src/containers/Cheki/CanvasImage.tsx
  src/pages/cheki/filters.tsx
Due: eslint --fix, prettier --write

ページを開いたときにフレームの画像もキャッシュさせる
  src/pages/cheki/index.tsx
Due: eslint --fix, prettier --write

タグの選択画面をモーダルにする
  public/cheki/filter.svg
  src/pages/cheki/index.tsx
Due: eslint --fix, prettier --write, svgo

タグのレイアウトを整える
  src/constants/cheki.ts
  src/pages/cheki/index.tsx
Due: eslint --fix, prettier --write

不要な変数などを削除する
  src/pages/cheki/index.tsx
Due: eslint --fix, prettier --write

キャラクターのタグを変更したという情報を Google Analytics に送信する
  src/domains/cheki/reducer.ts
  src/utils/cheki/google-analytics.tsx
Due: eslint --fix, prettier --write

かるめりちゃんカメラからチュートリアル機能を移植する
  src/components/Cheki/Horizontal.tsx
  src/components/Cheki/Tutorial.tsx
  src/constants/cheki.ts
  src/pages/cheki/filters.tsx
  src/utils/cheki.ts
  src/utils/cheki/google-analytics.tsx
Due: eslint --fix, prettier --write

チュートリアルで表示する羽の画像を追加、アニメーションを変更する
  public/cheki/wing.png
  src/components/Cheki/Tutorial.tsx
Due: eslint --fix, prettier --write

チュートリアルの閉じるボタンで使用する画像のパス、大きさを修正する
  src/components/Cheki/Tutorial.tsx
Due: eslint --fix, prettier --write

メッセージの表示にアニメーションを追加する
  src/components/Cheki/Tutorial.tsx
  src/constants/cheki.ts
Due: eslint --fix, prettier --write

Header コンポーネント内で Tutorial コンポーネントを使うように変更する
  src/components/Cheki/Header.tsx
  src/components/Cheki/Tutorial.tsx
  src/pages/cheki/filters.tsx
  src/types/ChekiScenario.ts
Due: eslint --fix, prettier --write

チュートリアルのアイコンを変更する
  public/cheki/help.selected.svg
  public/cheki/help.svg
  src/components/Cheki/Header.tsx
Due: eslint --fix, prettier --write, svgo

help を tutorial に置き換える
  public/cheki/tutorial.selected.svg
  public/cheki/tutorial.svg
  src/components/Cheki/Header.tsx
Due: eslint --fix, prettier --write, svgo

チュートリアル開始のイベントを Google Analytics に送信する
  src/components/Cheki/Header.tsx
  src/utils/cheki/google-analytics.tsx
Due: eslint --fix, prettier --write

filters ページのチュートリアルを削除する
  src/pages/cheki/filters.tsx
Due: eslint --fix, prettier --write

Reselect を通して使用可能なデコレーション素材を取得する
  src/containers/Cheki/AddableDecorationList.tsx
Due: eslint --fix, prettier --write

デコレーション素材を含めた画像を表示する
  src/containers/Cheki/CanvasChekiImage.tsx
  src/domains/cheki/selectors.ts
  src/pages/cheki/decorations.tsx
Due: eslint --fix, prettier --write

AddableDecorationList を削除、decorations.tsx にまとめる
  src/containers/Cheki/AddableDecorationList.tsx
  src/domains/cheki/selectors.ts
  src/pages/cheki/decorations.tsx
Due: eslint --fix, prettier --write

一部のファイルで ESLint のルールを無効化する
  src/containers/Cheki/CanvasChekiImage.tsx
  src/containers/Cheki/CanvasDecorationLayer.tsx
Due: eslint --fix, prettier --write

decorations ページのレイアウトを整える
  public/cheki/decoration-add.svg
  public/cheki/remove.svg
  src/domains/cheki/actions.ts
  src/domains/cheki/reducer.ts
  src/domains/cheki/selectors.ts
  src/pages/cheki/decorations.tsx
Due: eslint --fix, prettier --write, svgo

decorations ページ、レイアウト崩れと画像のパスを修正する
  public/cheki/decorations/add.svg
  public/cheki/decorations/remove.svg
  src/pages/cheki/decorations.tsx
Due: eslint --fix, prettier --write, svgo

出力した画像でキャラクターが表示されない問題を修正する
  src/domains/cheki/actions.ts
  src/domains/cheki/reducer.ts
  src/pages/cheki/index.tsx
Due: eslint --fix, prettier --write

Safari で正しく表示されるように修正、アイコンを変更する
  public/cheki/filter.svg
  src/pages/cheki/index.tsx
Due: eslint --fix, prettier --write, svgo

decorations ページのアイコンを変更する
  public/cheki/decorations.svg
  src/containers/Cheki/Navigation.tsx
Due: eslint --fix, prettier --write, svgo

デコレーション素材一覧のレイアウトを整える
  src/components/Cheki/AddableDecorationListItem.tsx
  src/domains/cheki/selectors.ts
  src/pages/cheki/decorations.tsx
Due: eslint --fix, prettier --write

ナビゲーションにあるフィルターの画像を最適化する
  public/cheki/filter.svg
Due: svgo

decorations.svg が正しく表示されない問題を修正する
  public/cheki/decorations.svg
Due: svgo

引数として渡されたキャラクターの値を使用するよう修正する
  src/domains/cheki/reducer.ts
Due: eslint --fix, prettier --write

デコレーション画像を DataURL に変換して Redux に格納する
  src/containers/Cheki/CanvasChekiImage.tsx
  src/domains/cheki/actions.ts
  src/domains/cheki/reducer.ts
  src/domains/cheki/selectors.ts
  src/pages/cheki/decorations.tsx
Due: eslint --fix, prettier --write

不要なコンポーネントを削除する
  src/containers/Cheki/CanvasDecorationLayer.tsx
Due: eslint --fix, prettier --write

デコレーション画像の追加と削除の操作ログを Google Analytics に送信する
  src/domains/cheki/reducer.ts
  src/utils/cheki/google-analytics.tsx
Due: eslint --fix, prettier --write

ChekiApp を元に戻す
  src/containers/Cheki/App.tsx
Due: eslint --fix, prettier --write

不要なページを削除する
  src/pages/cheki/example.tsx
Due: eslint --fix, prettier --write

コンポーネントをデコレーション素材として追加できるようにする
  src/constants/cheki.ts
  src/containers/Cheki/CanvasChekiImage.tsx
  src/domains/cheki/actions.ts
  src/domains/cheki/models.ts
  src/domains/cheki/reducer.ts
  src/domains/cheki/selectors.ts
  src/domains/cheki/utils.ts
  src/pages/cheki/decorations.tsx
  src/types/ChekiDecoration.ts
Due: eslint --fix, prettier --write

チェキに関係する型を domains/cheki/models.ts に移動する
  src/components/Cheki/Header.tsx
  src/components/Cheki/Tutorial.tsx
  src/domains/cheki/models.ts
  src/domains/cheki/reducer.ts
  src/domains/cheki/utils.ts
  src/pages/cheki/index.tsx
  src/types/ChekiDirection.ts
  src/types/ChekiRectangle.ts
  src/types/ChekiScenario.ts
  src/utils/cheki.ts
  src/utils/cheki/google-analytics.tsx
Due: eslint --fix, prettier --write

ESLint に従って修正、ChekiApp を元に戻す
  src/containers/Cheki/App.tsx
  src/domains/cheki/actions.ts
  src/utils/cheki.ts
Due: eslint --fix, prettier --write

save ページに印刷方法を表示するためのボタンを追加する
  public/cheki/print.selected.svg
  public/cheki/print.svg
  src/components/Cheki/Header.tsx
Due: eslint --fix, prettier --write, svgo

パッケージをアップデートする
  package.json
  yarn.lock
Due: prettier --write
