Repository calmery-chan/metaneno.art: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, svgo

シェアの文言を変更する
  src/components/lp/Share.tsx
Due: eslint --fix, prettier --write

あらすじを変更する
  src/components/lp/Story.tsx
Due: eslint --fix, prettier --write

クレジットのリンクを差し替える
  src/components/lp/Credit.tsx
Due: eslint --fix, prettier --write

制作者コメントを更新する
  src/components/lp/creatorList.ts
Due: eslint --fix, prettier --write

不要なコンポーネントなどをコメントアウトする
  src/components/lp/Credit.tsx
Due: eslint --fix, prettier --write

アクリルキーホルダーの画像を追加する
  public/lp/goods/key.jpg
  src/components/lp/goodsList.ts
Due: eslint --fix, prettier --write

ノネメちゃんチェキへのリンクを追加する
  src/components/lp/Content.tsx
Due: eslint --fix, prettier --write

アクリルキーホルダーのリンクを設定する
  public/lp/goods/2543383.jpg
  src/components/lp/goodsList.ts
Due: eslint --fix, prettier --write

ノネメちゃんチェキ関連のページは /cheki のみサイトマップに含むようにする
  scripts/generate-sitemap.js
Due: eslint --fix, prettier --write

OGP 画像を変更する
  public/og.png
Due: none

不要な画像ファイルを削除する
  public/cheki/mask-icon.svg
  public/mask-icon.svg
  public/vercel.svg
Due: svgo

LP 関連の画像を最適化する
  public/lp/content/wave1.svg
  public/lp/content/wave2.svg
  public/lp/copyright.svg
  public/lp/credit/candy1.svg
  public/lp/credit/candy2.svg
  public/lp/decoration/ring.svg
  public/lp/decoration/triangle.svg
  public/lp/decoration/wave-blue.png
  public/lp/decoration/wave-pink.png
  public/lp/decoration/wave-yellow.png
  public/lp/decoration/wave-yume.png
  public/lp/goods/button.svg
  public/lp/goods/candy1.svg
  public/lp/goods/candy2.svg
  public/lp/illust/wave1.svg
  public/lp/illust/wave2.svg
  public/lp/logo.svg
  public/lp/main-content-link/coming-soon.svg
  public/lp/main-content-link/text.svg
  public/lp/scroll-top.svg
  public/lp/share/facebook.svg
  public/lp/share/twitter.svg
  public/lp/share/wave1.svg
  public/lp/share/wave2.svg
  public/lp/story/badge-bg.svg
  public/lp/story/badge-text.svg
  public/lp/story/wave1.svg
  public/lp/story/wave2.svg
  public/lp/sub-title/comment.svg
  public/lp/sub-title/editor.svg
  public/lp/sub-title/supporter.svg
  public/lp/title/content.svg
  public/lp/title/credit.svg
  public/lp/title/goods.svg
  public/lp/title/illust.svg
  public/lp/title/share.svg
  public/lp/title/story.svg
Due: svgo

アイコン画像を差し替える
  public/apple-touch-icon.png
  public/icon-512x512.png
  public/icon.png
Due: none

LP のクリック数などを Google Analytics で収集する
  src/components/lp/Content.tsx
  src/components/lp/ContentItem.tsx
  src/components/lp/Goods.tsx
  src/components/lp/GoodsItem.tsx
  src/components/lp/Illust.tsx
  src/components/lp/Share.tsx
  src/components/lp/goodsList.ts
  src/components/lp/illustList.ts
  src/utils/google-analytics.tsx
Due: eslint --fix, prettier --write

LP の文言、画像を変更する
  public/lp/content/cheki.jpg
  src/components/lp/Content.tsx
  src/components/lp/creatorList.ts
Due: eslint --fix, prettier --write

Firefox ではフィルターのサムネイルをオフにする
  src/components/Cheki/FilterDefs.tsx
  src/components/Cheki/FilterImage.tsx
  src/containers/Cheki/CanvasTrimedImage.tsx
  src/containers/Cheki/FilterThumbnail.tsx
Due: eslint --fix, prettier --write

platform を追加する
  package.json
  yarn.lock
Due: prettier --write

LP、コンテンツの画像を差し替える
  public/lp/content/cheki.jpg
  public/lp/content/styly.jpg
  src/components/lp/Content.tsx
Due: eslint --fix, prettier --write

チェキ、シェアボタンの表示を状態によって変更する
  src/pages/cheki/save.tsx
Due: eslint --fix, prettier --write

STYLY のリンクを追加する
  src/components/lp/Content.tsx
Due: eslint --fix, prettier --write

lp.tsx を index.tsx に戻す
  src/pages/index.tsx
Due: eslint --fix, prettier --write

シェアボタンを一度しかクリックできない問題を修正する
  src/pages/cheki/save.tsx
Due: eslint --fix, prettier --write

モバイル端末では STYLY Mobile へのリンクを表示する
  src/components/lp/Content.tsx
Due: eslint --fix, prettier --write

resize-observer-polyfill を追加する
  package.json
  src/utils/cheki.ts
  yarn.lock
Due: eslint --fix, prettier --write

制作者コメントを修正する
  src/components/lp/creatorList.ts
Due: eslint --fix, prettier --write

パッケージをアップデートする
  package.json
  yarn.lock
Due: prettier --write

ノネメちゃんチェキのアイコンを変更する
  public/cheki/apple-touch-icon.png
  public/cheki/icon-512x512.png
  public/cheki/icon.png
Due: none

node_modules をキャッシュするように変更、develop ブランチ以外でも実行するように変更する
  .github/workflows/build-and-lint.yml
Due: prettier --write

Vercel へのデプロイ時も node_modules のキャッシュを使うように変更する
  .github/workflows/deploy-to-preview.yml
  .github/workflows/deploy-to-production.yml
Due: prettier --write

ubuntu-latest を ubuntu-20.04 に置き換える
  .github/workflows/build-and-lint.yml
  .github/workflows/deploy-to-preview.yml
  .github/workflows/deploy-to-production.yml
Due: prettier --write

元画質を保つために画像をアップロードする
  src/utils/cheki.ts
Due: eslint --fix, prettier --write

Revert "パッケージをアップデートする"
  package.json
  yarn.lock
Due: prettier --write

画像をアップロードするためのアクションを追加する
  src/components/Cheki/Icon.tsx
  src/components/Cheki/InputImage.tsx
  src/components/lp/Credit.tsx
  src/components/lp/Share.tsx
  src/components/lp/Story.tsx
  src/containers/Cheki/Camera.tsx
  src/domains/cheki/actions.ts
Due: eslint --fix, prettier --write

画像のアップロードを行った後に Redux の画像を入れ替える
  src/containers/Cheki/Camera.tsx
  src/domains/cheki/reducer.ts
Due: eslint --fix, prettier --write

デコレーションで使用する型定義と値を追加する
  src/constants/cheki.ts
  src/domains/cheki/actions.ts
  src/domains/cheki/reducer.ts
  src/types/ChekiDecoration.ts
Due: eslint --fix, prettier --write

デコレーションで使用する画像を追加する
  public/cheki/decorations/1.png
  public/cheki/decorations/2.png
Due: none

デコレーションをレンダリングするためのコンポーネントを追加する
  src/containers/Cheki/CanvasDecorationLayer.tsx
  src/containers/Cheki/CanvasFrames.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: (any of: **/*.{js,ts,tsx}) or (any of: **/*.{json,md,yml})
  stylelint --fix: any of: **/*.scss
  svgo: any of: **/*.svg
