Repository calmery-chan/metaneno.art: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, svgo

feature/color-filters
  src/components/ChekiFilterDefs.tsx
  src/components/ChekiPickColorFilterImage.tsx
  src/containers/ChekiCanvasImageLayer.tsx
Due: eslint --fix, prettier --write

axios を追加する
  package.json
  yarn.lock
Due: prettier --write

ページのレイアウトで使用する定数などを追加する
  src/styles/colors.ts
  src/styles/media.ts
  src/styles/mixin.ts
  src/styles/spacing.ts
  src/styles/typography.ts
Due: eslint --fix, prettier --write

Share ページを実装する
  src/components/Button.tsx
  src/components/HashTag.tsx
  src/components/Page.tsx
  src/pages/cheki/[id].tsx
  src/styles/mixin.ts
  src/styles/typography.ts
  src/utils/cheki.ts
Due: eslint --fix, prettier --write

Share ページを share フォルダ配下に移動する
  src/pages/cheki/share/[id].tsx
Due: eslint --fix, prettier --write

利用規約ページを追加する
  src/components/Button.tsx
  src/pages/cheki/terms-of-service.tsx
Due: eslint --fix, prettier --write

スプラッシュ画面のためのコンポーネントを追加する
  public/heart.svg
  src/components/Splash.tsx
  src/pages/cheki.tsx
Due: eslint --fix, prettier --write, svgo

チェキで使用するメニューのコンポーネントを追加する
  public/camera.svg
  public/filters.svg
  public/frames.svg
  public/save-and-share.svg
  src/components/Controller.tsx
  src/pages/cheki.tsx
Due: eslint --fix, prettier --write, svgo

チェキで使用する Header コンポーネントを追加する
  public/close.svg
  public/information.svg
  src/components/Header.tsx
  src/pages/cheki.tsx
Due: eslint --fix, prettier --write, svgo

メニューの色を調節する
  src/components/Controller.tsx
Due: eslint --fix, prettier --write

Save ページの雛形を追加する
  src/pages/cheki.tsx
  src/pages/cheki/save.tsx
Due: eslint --fix, prettier --write

パッケージをアップデートする
  package.json
  yarn.lock
Due: prettier --write

フィルターの一覧を表示するコンポーネントを追加する
  src/components/FilterList.tsx
  src/components/Horizontal.tsx
  src/constants/cheki.ts
  src/pages/cheki.tsx
Due: eslint --fix, prettier --write

フィルターを選択したときに文字色を変更する
  src/components/FilterList.tsx
  src/components/GradientText.tsx
  src/pages/cheki/filters.tsx
Due: eslint --fix, prettier --write

フィルター一覧の余白を追加、アニメーションを試す
  src/components/FilterList.tsx
Due: eslint --fix, prettier --write

Modal コンポーネントを追加、Header のボタンクリック時に表示する
  src/components/Header.tsx
  src/components/Modal.tsx
  src/styles/globals.scss
  src/styles/mixin.ts
Due: eslint --fix, prettier --write, stylelint --fix

Header の Modal に必要なテキストを追加、Modal の表示状態によってアイコンを出し分ける
  public/information.selected.svg
  src/components/Header.tsx
  src/components/Modal.tsx
Due: eslint --fix, prettier --write, svgo

SVG を最適化する
  public/camera.svg
  public/filters.svg
  public/frames.svg
  public/heart.svg
  public/information.svg
  public/save-and-share.svg
Due: svgo

トップページのリファクタリング、撮影ページを追加する
  public/shoot.svg
  src/components/ChekiImageLoadButton.stories.tsx
  src/components/ChekiInput.tsx
  src/containers/ChekiCanvas.tsx
  src/containers/ChekiShootButton.tsx
  src/pages/cheki/camera.tsx
Due: eslint --fix, prettier --write, svgo

@tensorflow-models/coco-ssd 周りのコードを削除する
  package.json
  src/domains/cheki/actions.ts
  src/domains/cheki/reducer.ts
  src/utils/coco-ssd.ts
  yarn.lock
Due: eslint --fix, prettier --write

チェキ関連コンポーネントのリファクタリングをする
  public/shoot.svg
  src/components/Cheki/FilterDefs.tsx
  src/components/Cheki/FilterImage.tsx
  src/components/Cheki/HashTag.tsx
  src/components/Cheki/Navigation.tsx
  src/components/Controller.tsx
  src/components/FilterList.tsx
  src/containers/Cheki/Canvas.tsx
  src/containers/Cheki/CanvasFrameLayer.tsx
  src/containers/Cheki/CanvasImageLayer.tsx
  src/containers/Cheki/FilterThumbnail.tsx
  src/containers/Cheki/ShootButton.tsx
  src/pages/cheki.tsx
  src/pages/cheki/camera.tsx
  src/pages/cheki/filters.tsx
  src/pages/cheki/save.tsx
  src/pages/cheki/share/[id].tsx
Due: eslint --fix, prettier --write, svgo

トップページを開いたときにスプラッシュ画面を表示する
  src/components/Cheki/SplashScreen.tsx
  src/components/Splash.tsx
  src/constants/cheki.ts
  src/pages/cheki.tsx
Due: eslint --fix, prettier --write

リファクタリングする
  src/components/Cheki/App.tsx
  src/components/Cheki/Button.tsx
  src/components/Cheki/GradientText.tsx
  src/components/Cheki/Header.tsx
  src/components/Cheki/InputImage.tsx
  src/components/Cheki/Modal.tsx
  src/components/Cheki/SplashScreen.tsx
  src/components/ChekiImageLoadButton.stories.tsx
  src/components/Example.stories.tsx
  src/components/Example.tsx
  src/components/FilterList.tsx
  src/pages/cheki/camera.tsx
  src/pages/cheki/filters.tsx
  src/pages/cheki/index.tsx
  src/pages/cheki/save.tsx
  src/pages/cheki/share/[id].tsx
  src/pages/cheki/terms-of-service.tsx
Due: eslint --fix, prettier --write

保存、シェアページのレイアウトを整える
  src/components/Cheki/Column.tsx
  src/components/Cheki/ExternalLink.tsx
  src/components/Cheki/FlexColumn.tsx
  src/components/Cheki/Navigation.tsx
  src/components/Cheki/Note.tsx
  src/constants/cheki.ts
  src/pages/cheki/save-and-share.tsx
  src/pages/cheki/save.tsx
Due: eslint --fix, prettier --write

保存、シェアページのボタンのレイアウトを整える
  public/twitter.svg
  src/components/Cheki/Button.tsx
  src/pages/cheki/save-and-share.tsx
Due: eslint --fix, prettier --write, svgo

コンポーネントの整理をする
  src/components/Cheki/Horizontal.tsx
  src/containers/Cheki/FilterList.tsx
  src/pages/cheki/filters.tsx
Due: eslint --fix, prettier --write

Twitter へシェアするボタンを使えるようにする
  src/components/Cheki/Button.tsx
  src/constants/cheki.ts
  src/pages/cheki/save-and-share.tsx
  src/pages/cheki/share/[id].tsx
  src/pages/cheki/terms-of-service.tsx
  src/utils/cheki.ts
Due: eslint --fix, prettier --write

リファクタリングする
  src/components/Cheki/Footer.tsx
  src/pages/cheki/share/[id].tsx
  src/pages/cheki/terms-of-service.tsx
Due: eslint --fix, prettier --write

トリミングページを追加する
  src/components/Cheki/SubButton.tsx
  src/containers/Cheki/ChekiTrimPreview.tsx
  src/containers/Cheki/ShootButton.tsx
  src/containers/Cheki/Trim.tsx
  src/containers/Cheki/TrimGrid.tsx
  src/containers/Cheki/TrimImage.tsx
  src/containers/Cheki/TrimImageOperator.tsx
  src/domains/cheki/actions.ts
  src/domains/cheki/reducer.ts
  src/domains/cheki/utils.ts
  src/pages/cheki/camera.tsx
  src/pages/cheki/index.tsx
Due: eslint --fix, prettier --write

フィルターページが動作しない問題を修正する
  src/containers/Cheki/FilterList.tsx
  src/pages/cheki/filters.tsx
Due: eslint --fix, prettier --write

フィルターページでフレームを表示しないように変更する
  src/containers/Cheki/FilterPreview.tsx
  src/pages/cheki/filters.tsx
Due: eslint --fix, prettier --write

フレームページを追加する
  src/constants/cheki.ts
  src/containers/Cheki/FrameList.tsx
  src/containers/Cheki/FramePreview.tsx
  src/domains/cheki/actions.ts
  src/domains/cheki/reducer.ts
  src/pages/cheki/frames.tsx
Due: eslint --fix, prettier --write

フィルターページ、フィルター一覧の margin 位置を変更する
  src/containers/Cheki/FilterList.tsx
  src/pages/cheki/filters.tsx
Due: eslint --fix, prettier --write

保存、シェアページで画像を表示するためのコンポーネントを追加する
  src/containers/Cheki/Preview.tsx
  src/pages/cheki/save-and-share.tsx
Due: eslint --fix, prettier --write

ChekiCanvas コンポーネントは不要のため削除する
  src/containers/Cheki/Canvas.tsx
Due: eslint --fix, prettier --write

フレームの初期値を設定する
  src/containers/Cheki/CanvasFrameLayer.tsx
Due: eslint --fix, prettier --write

不要な State を削除する
  src/domains/cheki/reducer.ts
Due: eslint --fix, prettier --write

チェキ関連のページ名を変更する
  src/pages/cheki/filters.tsx
  src/pages/cheki/frames.tsx
  src/pages/cheki/index.tsx
  src/pages/cheki/save-and-share.tsx
  src/pages/cheki/share/[id].tsx
  src/pages/cheki/terms-of-service.tsx
Due: eslint --fix, prettier --write

スプラッシュ画面は一度しか表示させないよう変更する
  src/containers/Cheki/SplashScreen.tsx
  src/domains/cheki/actions.ts
  src/domains/cheki/reducer.ts
  src/pages/cheki/index.tsx
Due: eslint --fix, prettier --write

撮影時の遷移状態を保持する
  src/domains/cheki/actions.ts
  src/domains/cheki/reducer.ts
  src/pages/cheki/index.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: (any of: **/*.{js,ts,tsx}) or (any of: **/*.{json,md,yml})
  stylelint --fix: any of: **/*.scss
  svgo: any of: **/*.svg
