Repository calmery-chan/metaneno.art: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, svgo

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx}": ["eslint --fix", "prettier --write"],
  "**/*.{json,md,yml}": "prettier --write",
  "**/*.scss": "stylelint --fix",
  "**/*.svg": "svgo"
}

.env.default を .env.local.default に置き換え、Sentry のためのキーを追加する
  .env.default
  .env.local.default
Due: none

Sentry にエラーを送信できるようにする
  next.config.js
  package.json
  src/pages/index.tsx
  src/utils/sentry.ts
  yarn.lock
Due: eslint --fix, prettier --write

devtool を hidden-source-map にする
  next.config.js
Due: eslint --fix, prettier --write

Sentry に送るダミーのエラーメッセージの内容を変更する
  src/pages/index.tsx
Due: eslint --fix, prettier --write

Revert "devtool を hidden-source-map にする"
  next.config.js
Due: eslint --fix, prettier --write

Sentry の init から debug を削除する
  src/utils/sentry.ts
Due: eslint --fix, prettier --write

SentryWebpackPlugin にリポジトリの情報を渡すように変更する
  next.config.js
Due: eslint --fix, prettier --write

process が未定義となってしまうエラーを修正する
  src/utils/sentry.ts
Due: eslint --fix, prettier --write

SENTRY_AUTH_TOKEN に関するコメントを追加する
  next.config.js
Due: eslint --fix, prettier --write

RewriteFrames の iteratee、引数の frame.filename が undefined だったときは frame をそのまま返すように変更する
  src/utils/sentry.ts
Due: eslint --fix, prettier --write

process.env.SENTRY_DSN を設定する
  next.config.js
Due: eslint --fix, prettier --write

.env.local.default の内容は不要のため削除する
  .env.local.default
Due: none

@sentry/integrations を削除する
  next.config.js
  package.json
  src/pages/index.tsx
  src/utils/sentry.ts
  yarn.lock
Due: eslint --fix, prettier --write

Revert "@sentry/integrations を削除する"
  next.config.js
  package.json
  src/pages/index.tsx
  src/utils/sentry.ts
  yarn.lock
Due: eslint --fix, prettier --write

console.log を仕込む
  src/utils/sentry.ts
Due: eslint --fix, prettier --write

デバッグのため Sentry に送るエラーの内容を変更する
  src/pages/index.tsx
Due: eslint --fix, prettier --write

Sentry の integrations をコメントアウトする
  src/pages/index.tsx
  src/utils/sentry.ts
Due: eslint --fix, prettier --write

Revert "Revert "@sentry/integrations を削除する""
  next.config.js
  package.json
  src/pages/index.tsx
  src/utils/sentry.ts
  yarn.lock
Due: eslint --fix, prettier --write

devtool を hidden-source-map に変更する
  next.config.js
  src/pages/index.tsx
Due: eslint --fix, prettier --write

Sentry のデバッグのためエラーの内容を現在時刻に変更する
  src/pages/index.tsx
Due: eslint --fix, prettier --write

Next.js を 10 に、他のパッケージもアップデートする
  package.json
  yarn.lock
Due: prettier --write

GitHub Actions などで使用する Node.js のバージョンを 14.15.0 にする
  .github/workflows/build-and-lint.yml
  .node-version
Due: prettier --write

パッケージをアップデートする
  package.json
  yarn.lock
Due: prettier --write

Sentry に environment を指定する
  src/utils/sentry.ts
Due: eslint --fix, prettier --write

next.config.js でも NEXT_PUBLIC_VERCEL_ENV を参照するように変更する
  next.config.js
Due: eslint --fix, prettier --write

@sentry/browser を @sentry/react に置き換え、ブラウザ環境でのみ @sentry/tracing を追加する
  next.config.js
  package.json
  src/utils/sentry.ts
  yarn.lock
Due: eslint --fix, prettier --write

@sentry/react を @sentry/browser に戻す
  next.config.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

admin ページの雛形を追加する
  src/pages/admin.tsx
Due: eslint --fix, prettier --write

Cloudflare Access でのアクセス制限のため URL に言語情報を付与しないようにする
  next.config.js
  src/utils/i18n.ts
Due: eslint --fix, prettier --write

GitHub Actions から Vercel にデプロイできるようにする
  .github/workflows/deploy-to-preview.yml
  .github/workflows/deploy-to-production.yml
  package.json
  yarn.lock
Due: prettier --write

Sentry で GitHub のコミット情報を確認できるようにする
  .github/workflows/deploy-to-preview.yml
  .github/workflows/deploy-to-production.yml
  next.config.js
Due: eslint --fix, prettier --write

リポジトリを calmery-chan/metaneno.art にリネームする
  README.md
Due: prettier --write

FUNDING.yml の pixivFANBOX の URL を修正する
  .github/FUNDING.yml
Due: prettier --write

VSCode で使用する TypeScript は node_modules 内のものを参照するように変更する
  .vscode/settings.json
Due: prettier --write

react-ga を追加する
  package.json
  yarn.lock
Due: prettier --write

Google Analytics でページの移動などを計測できるようにする
  src/pages/_app.tsx
  src/utils/ga.ts
Due: eslint --fix, prettier --write

トップページにダミーのリンクを追加する
  src/pages/index.tsx
Due: eslint --fix, prettier --write

DeepSource を使うための設定ファイルを追加する
  .deepsource.toml
Due: none

README.md に DeepSource のバッジを追加する
  README.md
Due: prettier --write
