Repository calmery-chan/metaneno.art: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, svgo

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx}": ["eslint --fix", "prettier --write"],
  "**/*.{json,md,yml}": "prettier --write",
  "**/*.scss": "stylelint --fix",
  "**/*.svg": "svgo"
}

README.md にめたねのおくすりバッジを追加する
  README.md
Due: prettier --write

Vercel へのデプロイを行う GitHub Actions のバッジを追加する
  README.md
Due: prettier --write

GitHub Actions でデプロイ時にタグを付ける
  .github/workflows/deploy-to-production.yml
Due: prettier --write

GitHub の Release に使用したタグを Sentry の Release にも使用する
  .github/workflows/deploy-to-preview.yml
  .github/workflows/deploy-to-production.yml
  next.config.js
Due: eslint --fix, prettier --write

Preview 環境では Sentry の Release にコミットハッシュを指定するよう変更する
  .github/workflows/deploy-to-preview.yml
  next.config.js
Due: eslint --fix, prettier --write

GitHub Actions でのデプロイ時に GitHub の Environments も更新する
  .github/workflows/deploy-to-preview.yml
  .github/workflows/deploy-to-production.yml
Due: prettier --write

GitHub の Environments、URL を設定できるようにする
  .github/workflows/deploy-to-preview.yml
  .github/workflows/deploy-to-production.yml
  package.json
  yarn.lock
Due: prettier --write

DeepSource に従って修正する
  src/utils/i18n.ts
Due: eslint --fix, prettier --write

GitHub Actions の不要な条件文を削除する
  .github/workflows/deploy-to-preview.yml
  .github/workflows/deploy-to-production.yml
Due: prettier --write

Stale の設定ファイルを追加する
  .github/stale.yml
Due: prettier --write

.editorconfig を追加する
  .editorconfig
Due: none

CONTRIBUTING.md を追加する
  CONTRIBUTING.md
Due: prettier --write

CODE_OF_CONDUCT.md を追加する
  CODE_OF_CONDUCT.md
Due: prettier --write

`npx sb init` を実行する
  .storybook/main.js
  .storybook/preview.js
  package.json
  src/stories/Button.stories.tsx
  src/stories/Button.tsx
  src/stories/Header.stories.tsx
  src/stories/Header.tsx
  src/stories/Introduction.stories.mdx
  src/stories/Page.stories.tsx
  src/stories/Page.tsx
  src/stories/assets/code-brackets.svg
  src/stories/assets/colors.svg
  src/stories/assets/comments.svg
  src/stories/assets/direction.svg
  src/stories/assets/flow.svg
  src/stories/assets/plugin.svg
  src/stories/assets/repo.svg
  src/stories/assets/stackalt.svg
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
  yarn.lock
Due: eslint --fix, prettier --write, svgo

ESLint に従って修正する
  .storybook/main.js
  .storybook/preview.js
  src/stories/Button.stories.tsx
  src/stories/Button.tsx
  src/stories/Header.stories.tsx
  src/stories/Header.tsx
  src/stories/Introduction.stories.mdx
  src/stories/Page.stories.tsx
  src/stories/Page.tsx
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
Due: eslint --fix, prettier --write

Revert "Cloudflare Access でのアクセス制限のため URL に言語情報を付与しないようにする"
  next.config.js
  src/utils/i18n.ts
Due: eslint --fix, prettier --write

Revert "DeepSource に従って修正する"
  src/utils/i18n.ts
Due: eslint --fix, prettier --write

vercel.json を追加する
  vercel.json
Due: prettier --write

/s/ar で /augmented-reality にリダイレクトする
  src/pages/augmented-reality.tsx
Due: eslint --fix, prettier --write

next-18next の ignoreRoutes に短縮 URL で使用する URL を追加する
  .eslintrc.json
  src/pages/augmented-reality.tsx
  src/utils/i18n.ts
Due: eslint --fix, prettier --write

Vercel で window が未定義になる問題を修正する
  src/pages/augmented-reality.tsx
Due: eslint --fix, prettier --write

ノネメちゃんチェキのためのページを追加する
  src/pages/noneme.tsx
Due: eslint --fix, prettier --write

チェキで使用するフレームを追加する
  src/components/.keep
  src/components/Instax/Frame.tsx
Due: eslint --fix, prettier --write

画像の読み込みとリサイズ、@tensorflow-models/coco-ssd を使用した物体認識をして表示する
  package.json
  src/pages/noneme.tsx
  src/utils/instax.ts
  yarn.lock
Due: eslint --fix, prettier --write

画像表示場所の調整をする
  src/components/Instax.tsx
  src/components/Instax/Frame.tsx
  src/components/InstaxImage.tsx
  src/components/InstaxImageHorizontal.tsx
  src/components/InstaxImageVertical.tsx
  src/pages/noneme.tsx
  src/types/InstaxDirection.tsx
  src/utils/instax.ts
Due: eslint --fix, prettier --write

console.log を削除する
  src/components/InstaxImageHorizontal.tsx
Due: eslint --fix, prettier --write

キャラクターをランダムで表示する
  src/components/Instax.tsx
  src/components/InstaxCharacter.tsx
Due: eslint --fix, prettier --write

axios のインスタンスにデフォルトの設定を追加、エクスポートする
  package.json
  src/utils/axios.ts
  yarn.lock
Due: eslint --fix, prettier --write

パッケージをアップデートする
  package.json
  yarn.lock
Due: prettier --write

Redux を使えるようにする
  package.json
  src/domains/example/actions.ts
  src/domains/example/index.ts
  src/domains/example/reducer.ts
  src/domains/example/types.ts
  src/domains/index.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

redux-thunk を追加する
  package.json
  src/domains/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

@reduxjs/toolkit を使うように変更する
  package.json
  src/domains/example/actions.ts
  src/domains/example/index.ts
  src/domains/example/reducer.ts
  src/domains/example/types.ts
  src/domains/example/utils.ts
  src/domains/index.tsx
  src/pages/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

redux-thunk は不要のため削除する
  package.json
  yarn.lock
Due: prettier --write

DeepSource に従って修正する
  src/domains/index.tsx
Due: eslint --fix, prettier --write

domains/index.tsx を domains/index.ts にリネームする
  src/domains/index.ts
Due: eslint --fix, prettier --write

eslint-plugin-unused-imports を追加する
  .eslintrc.json
  package.json
  yarn.lock
Due: prettier --write

createSelector 関数を使って example のメッセージを取得する
  src/domains/example/index.ts
  src/domains/example/selectors.ts
  src/domains/index.ts
  src/pages/index.tsx
Due: eslint --fix, prettier --write

パッケージのバージョンを固定する
  package.json
  yarn.lock
Due: prettier --write

TypeScript のバージョンを 4.1.1-rc にする
  package.json
  yarn.lock
Due: prettier --write
