Repository calmery-chan/metaneno.art: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, svgo

okusuri.land 関連のコードを調整する
  src/utils/okusuri.land/authentication.ts
  src/utils/okusuri.land/hooks.ts
Due: eslint --fix, prettier --write

おくすりランドの進捗状況のレイアウトを実装する
  public/exhibition/okusuri.land/icon.png
  public/exhibition/okusuri.land/logo.png
  public/exhibition/okusuri.land/twitter.svg
  src/components/Exhibition/Menu/OkusuriLand.tsx
Due: eslint --fix, prettier --write, svgo

マイページをクリックしたときにログアウトしてしまう問題を修正する
  src/components/Exhibition/Menu/OkusuriLand.tsx
Due: eslint --fix, prettier --write

マイページのリンク先を変更する
  src/components/Exhibition/Menu/OkusuriLand.tsx
Due: eslint --fix, prettier --write

okusuri.land の型を修正する
  src/components/Exhibition/Menu/OkusuriLand.tsx
  src/utils/okusuri.land/api.ts
  src/utils/okusuri.land/hooks.ts
  src/utils/okusuri.land/types.ts
Due: eslint --fix, prettier --write

おくすりランドからこれまでに取得したおくすりの情報を取得できるようにする
  src/components/Exhibition/Menu/OkusuriLand.tsx
  src/utils/okusuri.land/api.ts
  src/utils/okusuri.land/hooks.ts
  src/utils/okusuri.land/types.ts
Due: eslint --fix, prettier --write

不要なコンポーネントを削除する
  src/pages/exhibition/login.tsx
Due: eslint --fix, prettier --write

ローディングの追加
  public/lp/loading/1.png
  public/lp/loading/2.png
  public/lp/loading/3.png
  public/lp/loading/4.png
  public/lp/loading/5.png
  public/lp/loading/6.png
  public/lp/loading/7.png
  src/components/lp/LoadingIcon.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --write

ロゴの更新
  public/lp/logo.svg
  src/components/lp/MainVisual.tsx
Due: eslint --fix, prettier --write, svgo

Badgeのテキスト更新
  public/lp/story/badge-text-published.svg
  src/components/lp/Badge.tsx
Due: eslint --fix, prettier --write, svgo

本サイトへの導線を貼る
  public/lp/main-content-link/button.svg
  src/components/lp/MainContentLink.tsx
Due: eslint --fix, prettier --write, svgo

ソーダの色変更
  public/lp/loading/5-change.png
  src/components/lp/LoadingIcon.tsx
Due: eslint --fix, prettier --write

当たり判定を使えるようにする
  public/c.glb
  public/cube.glb
  public/cube2.glb
  src/components/Exhibition/3d/Area/Cloud.tsx
  src/components/Exhibition/3d/Objects.tsx
  src/components/Exhibition/3d/Player.tsx
  src/data/cloud.json
  src/pages/exhibition/index.tsx
Due: eslint --fix, prettier --write

リファクタリング、画質設定をできるようにする
  src/components/Exhibition/3d/Area/Cloud.tsx
  src/components/Exhibition/3d/Canvas.tsx
  src/components/Exhibition/3d/Renderer.tsx
  src/pages/exhibition/index.tsx
  src/types/exhibition.ts
  src/utils/exhibition.ts
Due: eslint --fix, prettier --write

エラーが発生したときに他の項目を非表示にする
  src/components/Exhibition/Menu/OkusuriLand.tsx
Due: eslint --fix, prettier --write

メニューから画質を変更できるようにする
  src/components/Exhibition/Menu.tsx
  src/pages/exhibition/index.tsx
Due: eslint --fix, prettier --write

BGM を再生するように、音量を調整できるようにする
  src/components/Exhibition/3d/Area/Cloud.tsx
  src/components/Exhibition/3d/Area/cloud.json
  src/components/Exhibition/Menu.tsx
Due: eslint --fix, prettier --write

コンポーネントの統合のため、値を JSON から読み込めるようにする
  src/components/Exhibition/3d/Area/Cloud.tsx
  src/components/Exhibition/3d/Area/cloud.json
  src/components/Exhibition/3d/Background.tsx
  src/components/Exhibition/3d/Fog.tsx
  src/components/Exhibition/3d/Lights.tsx
  src/components/Exhibition/3d/Player.tsx
Due: eslint --fix, prettier --write

リファクタリングする
  src/components/Exhibition/3d.tsx
  src/components/Exhibition/3d/Area/Cloud.tsx
  src/components/Exhibition/3d/Area/cloud.json
  src/components/Exhibition/3d/Lights.tsx
  src/components/Exhibition/3d/Objects/Characters.tsx
  src/components/Exhibition/3d/Objects/Decorations.tsx
  src/components/Exhibition/3d/Objects/Illustrations.tsx
  src/components/Exhibition/3d/Player.tsx
  src/components/Exhibition/3d/Renderer.tsx
  src/data/cloud.json
  src/pages/exhibition/index.tsx
  src/types/exhibition.ts
Due: eslint --fix, prettier --write

イラストをクリックできるようにする
  src/components/Exhibition/3d.tsx
  src/components/Exhibition/3d/Area/cloud.json
  src/components/Exhibition/3d/Objects/Decorations.tsx
  src/components/Exhibition/3d/Objects/Illustrations.tsx
  src/components/Exhibition/3d/Scene.tsx
  src/pages/exhibition/index.tsx
  src/types/exhibition.ts
  src/utils/exhibition.ts
Due: eslint --fix, prettier --write

イラストをクリックしたときに作品を表示、プレイヤーの操作を停止する
  src/components/Exhibition/3d.tsx
  src/components/Exhibition/3d/Player.tsx
  src/components/Exhibition/3d/Work.tsx
Due: eslint --fix, prettier --write

作品詳細の画面が正しく表示されるように修正する
  src/components/Exhibition/3d.tsx
  src/components/Exhibition/3d/Background.tsx
  src/components/Exhibition/3d/Lights.tsx
  src/components/Exhibition/3d/Objects/Characters.tsx
  src/components/Exhibition/3d/Player.tsx
  src/components/Exhibition/3d/Work.tsx
  src/components/Exhibition/Menu.tsx
  src/components/Exhibition/Popup.tsx
Due: eslint --fix, prettier --write

Illustration を Work に置き換える
  src/components/Exhibition/3d.tsx
  src/components/Exhibition/3d/Objects/Works.tsx
  src/data/cloud.json
  src/pages/exhibition/index.tsx
  src/types/exhibition.ts
Due: eslint --fix, prettier --write

ミュートの状態を正しく保存できるように修正する
  src/components/Exhibition/Menu.tsx
Due: eslint --fix, prettier --write

作品の情報を JSON に入れて表示できるようにする
  src/components/Exhibition/3d.tsx
  src/components/Exhibition/3d/Work.tsx
  src/data/cloud.json
  src/types/exhibition.ts
Due: eslint --fix, prettier --write

当たり判定を調整する
  d.json
  src/components/Exhibition/3d.tsx
  src/components/Exhibition/3d/Player.tsx
  src/components/Exhibition/3d/Work.tsx
  src/data/cloud.json
  src/types/exhibition.ts
Due: eslint --fix, prettier --write

雲のエリアにオブジェクトを追加する
  src/data/cloud.json
Due: prettier --write

メニュー、ミュートの不具合を修正する
  src/components/Exhibition/Menu.tsx
Due: eslint --fix, prettier --write

Area/cloud.json は不要のため削除する
  src/components/Exhibition/3d/Area/cloud.json
Due: prettier --write

会話シナリオの存在するキャラクターのみクリックできるようにする
  src/components/Exhibition/3d/Objects/Characters.tsx
  src/data/cloud.json
  src/types/exhibition.ts
Due: eslint --fix, prettier --write

キャラクターと会話できるようにするためのベースを追加する
  src/components/Exhibition/3d.tsx
  src/components/Exhibition/3d/Character.tsx
  src/components/Exhibition/3d/Objects/Characters.tsx
  src/data/cloud.json
  src/types/exhibition.ts
Due: eslint --fix, prettier --write

ファンアートを表示できるようにする
  public/exhibition/fanarts/1295717475078684672.jpg
  public/exhibition/fanarts/1295734269831077889.jpg
  public/exhibition/fanarts/1300120569409449990.jpg
  public/exhibition/fanarts/1327265414326325249.jpg
  public/exhibition/fanarts/1359774432286236672.jpg
  public/exhibition/fanarts/1360590067559931905.jpg
  public/exhibition/fanarts/1363087093111562240.jpg
  public/exhibition/fanarts/icons/brolyscarlet.jpg
  public/exhibition/fanarts/icons/ka_siori.jpg
  public/exhibition/fanarts/icons/srkmice1.jpg
  public/exhibition/fanarts/icons/usayarou_711.jpg
  public/exhibition/fanarts/icons/wa_du_ka_.jpg
  public/exhibition/fanarts/twitter.svg
  src/components/Exhibition/3d.tsx
  src/components/Exhibition/3d/Item.tsx
  src/components/Exhibition/3d/Item/Fanarts.tsx
  src/components/Exhibition/3d/Objects/Items.tsx
  src/components/Exhibition/Popup.tsx
  src/data/cloud.json
  src/data/fanarts.json
  src/types/exhibition.ts
Due: eslint --fix, prettier --write, svgo

キャラクターと会話をするために必要となるコンポーネントを追加する
  public/exhibition/3d/bubble/background.png
  public/exhibition/3d/bubble/name.png
  public/exhibition/3d/fonts/uzura.ttf
  public/exhibition/3d/fonts/uzura.woff
  public/exhibition/3d/fonts/uzura.woff2
  src/components/Exhibition/3d/Character.tsx
  src/components/Exhibition/3d/SpeechBubble.tsx
  src/components/Exhibition/3d/SpeechBubble/CanvasContainer.tsx
  src/components/Exhibition/3d/SpeechBubble/ResizeObserver.tsx
  src/styles/globals.scss
Due: eslint --fix, prettier --write, stylelint --fix

吹き出しの文字を選択できないようにする
  src/components/Exhibition/3d/SpeechBubble.tsx
Due: eslint --fix, prettier --write

閉じるときにアニメーションを追加する
  src/components/Exhibition/3d/Character.tsx
  src/components/Exhibition/3d/SpeechBubble.tsx
  src/components/Exhibition/3d/SpeechBubble/CanvasContainer.tsx
  src/data/cloud.json
  src/types/exhibition.ts
Due: eslint --fix, prettier --write

選択肢のベースを追加する
  public/exhibition/3d/bubble/choice.png
  src/components/Exhibition/3d/SpeechBubble.tsx
  src/data/cloud.json
Due: eslint --fix, prettier --write

選択肢、テキストの表示位置を調整する
  src/components/Exhibition/3d/SpeechBubble.tsx
  src/components/Exhibition/3d/Work.tsx
  src/data/cloud.json
Due: eslint --fix, prettier --write

キャラクターの選択肢を選択して会話の内容を分岐できるようにする
  src/components/Exhibition/3d/SpeechBubble.tsx
Due: eslint --fix, prettier --write

選択肢の表示タイミングを変更する
  src/components/Exhibition/3d/SpeechBubble.tsx
Due: eslint --fix, prettier --write

animation の型を変更する
  src/components/Exhibition/3d.tsx
  src/components/Exhibition/3d/Character.tsx
  src/components/Exhibition/3d/SpeechBubble.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: (any of: **/*.{js,ts,tsx}) or (any of: **/*.{json,md,yml})
  stylelint --fix: any of: **/*.scss
  svgo: any of: **/*.svg
