Repository calmery-chan/metaneno.art: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, svgo

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx}": ["eslint --fix", "prettier --write"],
  "**/*.{json,md,yml}": "prettier --write",
  "**/*.scss": "stylelint --fix",
  "**/*.svg": "svgo"
}

api フォルダを src/pages 配下に移動する
  src/pages/api/hello.ts
Due: eslint --fix, prettier --write

vercel を削除、`npm start` で `next dev` を実行するように変更する
  package-lock.json
  package.json
Due: prettier --write

パッケージをアップデートする
  package-lock.json
  package.json
Due: prettier --write

yarn を使ってパッケージをインストールするように変更する
  package-lock.json
  yarn.lock
Due: prettier --write

GitHub Actions でも yarn を使うように変更する
  .github/workflows/build-and-lint.yml
Due: prettier --write

README.md を追加する
  README.md
Due: prettier --write

next-i18next を追加する
  package.json
  yarn.lock
Due: prettier --write

翻訳ファイルのサンプルを追加する
  public/static/locales/en/common.json
  public/static/locales/ja/common.json
Due: prettier --write

next-i18next を使って多言語対応する
  next.config.js
  public/locales/en/common.json
  public/locales/ja/common.json
  src/pages/_app.tsx
  src/pages/index.tsx
  src/utils/next-i18next.ts
Due: eslint --fix, prettier --write

react と react-dom のバージョンを 16.14.0 に下げる
  package.json
  yarn.lock
Due: prettier --write

README.md にタイトルとイラストを追加する
  README.md
Due: prettier --write

FUNDING.yml を追加する
  .github/FUNDING.yml
Due: prettier --write

Pull Request のテンプレートを追加する
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

Issue のテンプレートを追加する
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
Due: prettier --write

Issue のテンプレート関連の設定ファイルを追加、blank_issues_enabled を false にする
  .github/ISSUE_TEMPLATE/config.yml
Due: prettier --write

locales フォルダを移動する
  locales/en/common.json
  locales/ja/common.json
  src/utils/next-i18next.ts
Due: eslint --fix, prettier --write

next-i18next を使ったページの型定義を変更する
  src/pages/index.tsx
Due: eslint --fix, prettier --write

ESlint の @typescript-eslint/explicit-module-boundary-types を off にする
  .eslintrc.json
Due: prettier --write

next-i18next を隠蔽、withI18n や useI18n で使えるようにする
  public/locales/en/common.json
  public/locales/ja/common.json
  src/pages/_app.tsx
  src/pages/index.tsx
  src/utils/i18n.ts
  src/utils/next-i18next.ts
Due: eslint --fix, prettier --write

public/locales のシンボリックリンクを作成する
  locales
Due: none

翻訳ファイルから t 関数で使用するキーを生成する
  src/pages/index.tsx
  src/utils/i18n.ts
Due: eslint --fix, prettier --write

TypeScript のバージョンを 4.1.0-dev.20201024 にする
  package.json
  yarn.lock
Due: prettier --write

lodash を追加する
  package.json
  yarn.lock
Due: prettier --write

.prettierignore を追加、npm-scripts の fix:prettier で実行するコマンドを変更する
  .prettierignore
  package.json
Due: prettier --write

lodash は不要となったので削除する
  package.json
  yarn.lock
Due: prettier --write

TypeScript 4.1.0 を使用して JSON からキーの Union を生成する
  locales
  src/locales
  src/pages/index.tsx
  src/utils/i18n.ts
Due: eslint --fix, prettier --write

コメントの追加、更新をする
  .prettierignore
  src/utils/i18n.ts
Due: eslint --fix, prettier --write

WIP
  src/utils/i18n.ts
Due: eslint --fix, prettier --write

不要な型定義を削除する
  src/utils/i18n.ts
Due: eslint --fix, prettier --write

src/locales を削除、直接 public フォルダ内の locales を参照する
  src/locales
  src/utils/i18n.ts
Due: eslint --fix, prettier --write

next-i18next の localSubpaths を設定する
  next.config.js
  src/pages/dummy.tsx
  src/utils/i18n.ts
Due: eslint --fix, prettier --write

eslint-plugin-import を追加、import 文をアルファベット順に並び替えられるようにする
  .eslintrc.json
  package.json
  yarn.lock
Due: prettier --write

`yarn run fix` を実行する
  next.config.js
  src/pages/_app.tsx
  src/pages/index.tsx
  src/utils/i18n.ts
Due: eslint --fix, prettier --write

@next/bundle-analyzer を追加、yarn start:analyze で webpack-bundle-analyzer を起動できるようにする
  next.config.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

.env.default を追加、NEXT_PUBLIC_SENTRY_DSN をキーとして用意する
  .env.default
  next.config.js
Due: eslint --fix, prettier --write

@zeit/next-source-maps を追加、ソースマップを出力する
  next.config.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

@zeit/next-source-maps の devtool に hidden-source-map を指定する
  next.config.js
Due: eslint --fix, prettier --write

Typo を修正する
  next.config.js
Due: eslint --fix, prettier --write

@zeit/next-source-maps を 0.0.4-canary.1 にする
  package.json
  yarn.lock
Due: prettier --write
